main {
    margin: .5em auto;
    font-family: karnak-display;
    font-size: 30px;
}

#inputBox {
    display: block;
    margin: auto;
    height: 40px;
}

#new-game-button {
    background: #e64843;
    border: 1px solid #e64843;
    border-radius: 6px;
    box-shadow: 1px 1px 2px rgb(192, 192, 192);
    color: #fff;
    padding: 10px 14px;
    outline: 0;
    display: block;
    font-size: 30px;
    margin: 20px auto;
}

#hangmanImg {
    max-width: 30em;
    max-height: 20em;
    display: block;
    margin: auto auto 20px auto;
}

#currentWord {
    text-align: center;
    margin-top: 12px;
    font-size: 80px;
}

#currentWord span {
    display: inline-block;
    margin: 0 10px;
}

#letters {
    color: #999;
    letter-spacing: 5px;
    margin: 20px auto 0;
    text-align: center;
    width: 400px;
}

#you-win-message,
#you-lose-message {
  font-family: karnak-display;
  background: #7fff35;
  padding: 20px;
  margin: 30px auto 0;
  text-align: center;
  width: 300px;
}

#you-lose-message {
  background: #e64843;
}

.hide {
    display: none;
}

/* mobile layout */
@media screen and (max-width: 768px) {

    #hangmanImg {
        max-width: 70vw;
        max-height: 50vw;
        display: block;
        margin: auto auto 20px auto;
    }

    #currentWord {
        font-size: 20px;
    }

    #new-game-button {
        font-size: 20px;
    }
}