body {
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
}
  
main {
    max-width: 960px;
    margin: 0 auto;
}

h1 {
    text-align: center;
    font-size: 80px;
    margin: 0 auto .3em auto;
    max-width: 80%;
    font-family: karnak-display;
    font-weight: normal;
}